<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloServlet</display-name>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.revature.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<servlet-class>com.revature.servlet.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<url-pattern>/life</url-pattern>
  </servlet-mapping>
	
	
</web-app>