<div>
  <div class="panel-heading">
    <span class="label label-default label-center">{{title}}</span>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        Change the physical
        <strong>structure</strong> of the
        <strong>HTML</strong> page.
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        Always begin with the
        <strong>*</strong> character.
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        Includes the
        <strong> *ngIf </strong>,
        <strong>*ngFor</strong>, and
        <strong>*ngSwitch</strong>.
      </div>
      <div class="panel-footer">
        <a href="{{documentation}}">Documentation</a>
      </div>
    </div>
  </div>
</div>
<div class="panel-heading">
  <span class="label label-default label-center">*ngFor</span>
</div>
<div class="panel-body">
  <div class="list-group">
    <div class="list-group-item">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      Allows you to
      <strong>loop</strong> through an
      <strong>array</strong>.
    </div>
    <div *ngFor="let x of arrayOfThings; let i=index">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        <strong>({{i + 1}})</strong>: {{x}}.
      </div>
    </div>
  </div>
</div>