<div>
  <div class="panel-heading">
      <span class="label label-default level-center">{{title}}{{interpolationNotation}}</span>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        Used for <strong>one-way</strong> databinding to a <strong>value</strong>.
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        You can also <strong>evaluate</strong> using <strong>{{interpolationNotation}}</strong> as well.
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        21 + 55 <strong>=</strong> {{21+55}}
      </div>
    </div>
  </div>
</div>
